/* PrimeFlex styles */
/*@import 'primeflex/primeflex.css';*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .p-tabview,
  .p-tabview * {
    all: revert !important;
  }
}
@layer base {
  .p-tabview,
  .p-tabview * {
    all: revert !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p-datatable-header {
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  /*border-radius: 8px;*/
}
/* Cible les champs de type date */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverse les couleurs pour rendre l'icône blanche */
  cursor: pointer; /* Ajoute un curseur pointer pour l'interaction */
}
/*
.dark .p-datatable-header {
  background-color: #1e1e1e;
  color: #f5f5f5;
}*/
.dark .custom-tabview .p-tabview-nav-container {
  background-color: #1e1e1e;
 /*  border-top-left-radius: 1rem; Correspond à rounded-t-2xl */
  /* border-top-right-radius: 1rem; Correspond à rounded-t-2xl */
  overflow: hidden; /* Pour éviter les débordements */
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-tabview .p-tabview-nav-container {
  background-color: white;
  overflow: hidden; /* Pour éviter les débordements */
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.custom-tabview .p-tabview-nav-container2 {
  background-color: white;
  overflow: hidden;
  justify-content: center !important;
  align-items: center !important;
}
*/

.custom-tabview .p-tabview-panel {
  /*background-color: aqua;*/
  /*padding: 15px;*/
  border-bottom-left-radius: 1rem; /* Correspond à rounded-b-2xl */
  border-bottom-right-radius: 1rem; /* Correspond à rounded-b-2xl */
}




.dark .custom-tabview .p-tabview-nav {
  /* background-color: #1e1e1e !important; */
  background-color: #1e1e1e !important;
}
.custom-tabview .p-tabview-nav {
  background-color: white !important;
}

.dark .custom-tabview .p-tabview-nav-link {
  background-color: #1e1e1e !important;
  padding: 12px;
}
.custom-tabview .p-tabview-nav-link {
  background-color: white !important;
  padding: 12px;
}

.p-stepper-panels {
  /*background-color: #f9f9f9;
  border-radius: 8px;*/
  padding: 0;
}
/* Mode sombre : TabPanel actif */
body.dark .custom-tabview .p-tabview-nav-link.p-highlight {
  background-color: black !important; /* Fond noir */
  color: #f0cd7b !important; /* Texte doré */
}

/* Mode clair : TabPanel actif */
body .custom-tabview .p-tabview-nav-link.p-highlight {
  background-color: black !important; /* Fond noir */
  color: #f0cd7b !important; /* Texte doré */
}

.custom-tabview .p-tabview-nav-content  {
  /* background-color: green !important;  IL EST VISVIBLE SUR PETIT ECRAN*/
 }
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}
.centered-tab-headers .p-tabview-nav li .p-tabview-nav-link {
  justify-content: center;
  text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}
.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}



